[tool.poetry]
name = "TEgym"
version = "0.1.0"
description = "Tennessee Eastman module for OpenAIgym"
authors = ["Martyn"]

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
gym = "^0.21.0"
numpy = "1.22.3"
tensorflow = "2.9.0"
matplotlib = "3.4.3"
pyglet = "1.5.0"
colorpy = { git = "https://github.com/martyn-smith/colorpy.git", branch = "master"}

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
